<ion-content>
  <ion-grid class="center-content">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <img src="/assets/img/woodworks.png" class="logo">
        <ion-text color="light"><h5 class="ion-text-center wood">Woodworks for your furniture needs.</h5></ion-text>


        <div class="ion-padding-top center-button full">
          <ion-button class="btn" color="medium" expand="block" (click)="login()">Login</ion-button>
          <ion-button class="line" fill="outline" color="light" expand="block" (click)="signup()">Signup</ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
