<ion-header no-border>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" icon="arrow-back">
    </ion-back-button>
  </ion-buttons>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-segment scrollable (ionChange)="onCategoryChange($event)">
          <ion-segment-button class="seg" *ngFor="let category of categories" value={{category}}>
            <ion-label>{{category}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <div class="buttom">
          <ion-card class="card">
            <div class="color center-content">
              <ion-text>
                <p class="ion-padding-top full pad">TOTAL<span class="total">₱ {{ getTotal() }}</span></p>
               
              </ion-text>
            </div>
            <ion-buttons>
              <ion-button class="yellow">
                <label class="to">Payment</label>
              </ion-button>
            </ion-buttons>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>