ion-content {
    --background: #f1f1f1;
}

.seg {
    color: #111111;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 600;
  }

.center {
    float: right;

}

.pad {
    padding-left: 20px;
    padding-top: 0px;
    font-size: 19px;
    font-weight: 800;
    color: #111111;
    font-family: 'Montserrat';
}

.card {
    height: 200px;
    width: 100%;
    // padding-top: 150%;
    background-color: #ffffff;
    position: fixed;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    margin-top: 93px;
    
}

.buttom {
    margin-top: 100%;
}

.yellow {
    width: 95%;
    height: 50px;
    background-color: #FFB700 !important;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 10px;


    ion-icon {
        font-size: 13px;
        color: #111111;
        padding-right: 5px;
    }
}

.to {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    color: #111111;
}

.total{
    padding-left: 220px;
    font-weight: 500;
    font-size: 14px;
}

// [noScroll] { 
//     overflow: hidden;
// }