<header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="btn1" (click)="openCart()">
        <div>{{ cartItemCount | async }}</div>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="justify-content-center">
        <h1>Make your life comfortable with our furniture</h1>
      </div>

      <ion-toolbar>
        <ion-searchbar class="searchbar-input" (ionChange)='search($event)'></ion-searchbar>
      </ion-toolbar>

      <div>
        <h1>Shop for</h1>
        <a class="bid" (click)="searchCategory('')">See all</a>
      </div>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-segment>
            <ion-buttons>
              <ion-button color="danger" value="camera">
                <ion-icon src="/assets/icon/chairicon.svg"></ion-icon>
                <label text-capitalize="false" for="" (click)="searchCategory('chair')">Chair</label>
              </ion-button>
              <ion-button color="danger" value="bookmark">
                <ion-icon src="/assets/icon/sofaicon.svg"></ion-icon>
                <label text-capitalize="false" for="" (click)="searchCategory('sofa')">Sofa</label>
              </ion-button>
              <ion-button color="danger" value="camera">
                <ion-icon src="/assets/icon/bed_Icon.svg"></ion-icon>
                <label text-capitalize="false" for="" (click)="searchCategory('bed')">Bed</label>
              </ion-button>
              <ion-button color="danger" value="bookmark">
                <ion-icon src="/assets/icon/tableicon.svg"></ion-icon>
                <label text-capitalize="false" for="" (click)="searchCategory('table')">Table</label>
              </ion-button>
            </ion-buttons>
          </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <h1>Features Furniture</h1>
    <ion-row>
      <ion-col *ngFor="let p of products">
          <ion-card class="card">
            <ion-buttons class="right">
              <ion-button class="btn">
                <ion-icon icon="heart-empty" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
            <img src= "{{p.img}}" (click)="openPreview(p.id)">
            <div class="content" no-border>
              <ion-card-header>
                  <ion-card-title>
                    {{ p.name }}
                  </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h2 class="pri">₱ {{ p.price }}</h2>
            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>